.box{
    display:flex-column;
    justify-content: center;
    margin: 200px 200px;
    width: 400px;
    height: 400px;
    background-color: rgb(99, 163, 163);
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

}
.form{
    display: flex;
    justify-content: space-around;
}
.form.input{
    background-color: rgb(231, 231, 12);
}