*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label{
    display: block;
    margin: 4px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.box{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.fh1{
    color: rgb(255, 255, 255);
    text-decoration:underline;
}

.container{
   
    margin: auto;
    background-color: #35155a;
    width: 400px;
    height: auto;
   padding:34px 44px 44px 44px;
   box-sizing:border-box;
}
input{
    width: 100%;
    height: 22px;
}
section{
    padding:5px
}
p{
    color: white;
    text-align: center;
}
a{
    color: wheat;
}